@import "tailwindcss";

@theme inline {
  --color-primary: #10274c;
  --color-accent: #c8a856;
  --color-neutral: #9F9E9E;
  --color-background: #10274c;
  /* darker shade for background */
  --color-foreground: #ffffff;

  --font-inter-base: var(--font-inter);
  --font-cairo-base: var(--font-cairo);
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  --font-sans: var(--font-inter);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body[dir="rtl"] {
  --font-sans: var(--font-cairo);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  @keyframes sweep {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(200%);
    }
  }
}